#problem {
    color: blue;
    background-color: rgba(218, 9, 9, 0.253);
    border: 10px solid red;

}
.Rohan , .rrr{
    background-color: rgba(80, 255, 103, 0.699);
    color: rgb(199, 21, 80);
    border: 10px solid;
}